{{page-title @model.title}}
<Breadcrumb
  @items={{array (hash route="home" title=(t "home.title")) (hash route="products.index" title=(t "products.index.title"))}}
  @current={{@model.title}}
/>
<h1>{{@model.title}}</h1>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-6">
      <img src={{default-value @model.image "https://placehold.co/1200x600?text=No+Preview"}} class="img-fluid rounded" alt={{@model.title}}>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">{{strip-html @model.description}}</p>
        <p class="card-text"><h5 class="text-body-secondary">{{concat "€" @model.price}}</h5></p>
        <button {{on "click" this.addToCart}} type="button" class="btn btn-primary"><FaIcon @icon="cart-plus"/> Add to Cart</button>
      </div>
    </div>
  </div>
</div>