<div class="inbox-row" ...attributes>
  {{#unless @item.opened}}
    <div class="inbox-row-opened bg-danger me-2"></div>
  {{/unless}}
  {{#if @item.notification.attachments}}
    <img class="inbox-row-attachment me-1" src={{get (get @item.notification.attachments 0) "uri"}} alt="">
  {{/if}}
  <div class="ms-2 me-auto text-truncate">
    <small class="mb-2 d-block">{{format-date @item.time format="fullWithTime"}}</small>
    {{#if @item.notification.title}}
      <h5>{{@item.notification.title}}</h5>
    {{/if}}
    {{#if @item.notification.subtitle}}
      <h6>{{@item.notification.subtitle}}</h6>
    {{/if}}
    <p class="mb-0">{{@item.notification.message}}</p>
  </div>
</div>