{{page-title (t "error.title")}}
<Breadcrumb
  @items={{array (hash route="home" title=(t "home.title"))}}
  @current={{t "error.title"}}
/>
<h1 class="mt-3">{{t "error.title"}}</h1>
<p>{{t "error.text" htmlSafe=true}}</p>