{{page-title (t "fail.title")}}
<Breadcrumb
  @items={{array (hash route="home" title=(t "home.title"))}}
  @current={{t "fail.title"}}
/>
<h1 class="mt-3">{{t "fail.title"}}</h1>
<p>{{t "fail.text" htmlSafe=true}}</p>