{{page-title (t "restricted.title")}}
<Breadcrumb
  @items={{array (hash route="home" title=(t "home.title"))}}
  @current={{t "restricted.title"}}
/>
<h1 class="mt-3">{{t "restricted.title"}}</h1>
<p>{{t "restricted.text"}}</p>