{{page-title (t "unknown.title")}}
<Breadcrumb
  @items={{array (hash route="home" title=(t "home.title"))}}
  @current={{t "unknown.title"}}
/>
<h1 class="mt-3">{{t "unknown.title"}}</h1>
<p>{{t "unknown.text"}}</p>